# Perfil de Spring que se usará al levantar la aplicación
# Valores: local, dev, qa, prod
SPRING_PROFILES_ACTIVE=XXXX

# URLs de las todas las instancias de Eureka para registrarse
# Formato: http://hostname:port/eureka/
EUREKA_CLIENT_SERVICEURL_DEFAULTZONE_GLOBAL=http://eureka-A:XXXX/eureka/,http://eureka-B:XXXX/eureka/,http://eureka-C:XXXX/eureka/