server:
  port: ${SERVER_PORT}

eureka:
  instance:
    instance-id: ${spring.application.name}(${EUREKA_INSTANCE_HOSTNAME}):${server.port}
    hostname: ${EUREKA_INSTANCE_HOSTNAME}
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE}
  server:
    registry-sync-retries: 3
    enable-self-preservation: true
  dashboard:
    path: /dashboard
  environment: prod

management:
  server:
    port: 9001
  endpoints:
    web:
      base-path: /management
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: never
  info:
    env:
      enabled: false
    build:
      enabled: true

logging:
  level:
    root: INFO
    org.springframework.cloud.netflix.eureka: WARN
    com.netflix.eureka: WARN
    com.pharmaflow: WARN